<li class="self">
    <div class="avatar">
        <img src="/bundles/athenachat/images/avatars/{{ avatar }}" class="img-responsive"/>
    </div>
    <div class="messages">
    <p>{{ message }}</p>
    <time>{{ date }}</time>
    </div>
</li>