{% extends "AthenaUserBundle::user_layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}


<div id="header-login" class="skel-layers-fixed">

    <div class="top">

        <div class="container">
            <div class="row" style="margin-top: 10px;">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <img src="/bundles/athenachat/images/logo-1.png" class="logo_login" />
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <section class="form_login">
                        <h1 class="title_login">
                            {{ 'resetting.check_email'|trans({'%email%': email}) }}
                        </h1>
                    </section>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
            </div>


            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <!-- Social Icons -->
                    <ul class="icons">
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                        <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
                    </ul>
                    <div style="text-align: center;">

                        <small style="font-size: 10px; color: grey; line-height: 12px;">
                            &copy;Copyright Pierre VASSOILLES & Damien LEBERT / IP-FORMATION <br>
                            Designed by <a href="http://html5up.net" target="_blank">HTML5 UP</a>
                        </small>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
            </div>
        </div>


    </div>



</div>


{% endblock %}